body{
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
#content-left h1{
	color: #2D317F;
	font-size: 36px;
	line-height: 44px;
	font-weight: bold;
}
.far{
	color: #999999;
	margin-right: 5px;
}
.date{
	color: #999999;
	font-size: 16px;
	margin-top: 15px;

}
.fa-eye{
	margin-left: 20px;
}
.thong-ke{
	position: relative;
}
.like-share{
	position: absolute;
	top: 0;
	right: 0;
}
.like-share .fas{
	color: #fff;
}
.like{
	background: #4267B2;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	padding: 2px 10px;
	border-radius: 4px;
	text-decoration: none;
}
.like:hover{
	color: #fff;
	text-decoration: none;
}
.content{
	margin-top: 20px;
	text-align: justify;
}
.content img{
	max-width: 100%;
}
#content-right h2{
	color: #666666;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}
a.news{
	text-decoration: none;
}
.news{
	display: block;
	
	margin-bottom: 40px;
}
.img{
	height: 235px;
	border-radius:10px;
}
.news p{
	color: #666666;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin: 20px 0;
}
.comment{
	margin-top: 60px;
	padding: 30px 0;
	border-top: solid 1px #C4C4C4; 
}
.comment h5{
	color: #2D317F;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
}
.cmt{
	position: relative;
	padding-left: 90px;
	margin-bottom: 50px;
}
.cmt img{
	position: absolute;
	top: 0;
	left: 0;
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
.name{
	color: #2D317F;
	font-size: 16px;
	display: inline-block;
	margin-bottom: 10px;
}
.noi-dung span{
	color: #999999;
	font-size: 16px;
	display: inline-block;
}
.feel{
	color: #999999;
	font-size: 16px;
	text-align: justify;
}
.write-cmt{
	border-top: solid 1px #C4C4C4; 
	padding-top: 50px;
	position: relative;
	padding-left: 140px;
}
.write-cmt img{
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin-bottom: 15px;
}
.avatar{
	position: absolute;
	top: 50;
	left: 0;
}
.write-cmt textarea{
	height: 150px;
	border-radius: 10px;
	width: 100%;
	border: 1px solid #C4C4C4;
	padding: 15px;
	outline: none;
}
#news-details{
	margin: 80px 0;
}
