.cartShow{
	margin-top: 50px;
	min-height: 500px;
}

.cartBody{

}
.cartList{
	
}
.cartItem{
	padding: 30px;
	background: #fff;
	margin: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 20px #0005;
}
.cartItemImg{
	width: 200px;
	float: left;
	margin-right: 20px;
}
.cartItemImg img{
	width: 100%;
}
.cartItemContent{
	float: left;
	width: 300px;

}

.cartItemPrice{
	color: #e44;
	font-size: 16px;
	font-weight: 500;
	float: right;
}
.cartRight{
	box-shadow: 2px 3px 20px 0px #0005;
}
.cartTotal{
	background: #fff;
	margin: 5px 0;

}
.cartTotalTitle{
	text-align: center;
	font-size: 24px;
	font-weight: 500;
	color: #000;
	border-bottom: 1px solid #aaa;
	text-transform: uppercase;
	padding: 20px 0;
}
.cartTotalContent{
	padding: 20px 15px 30px;
	overflow: hidden;
	font-size: 16px;
}
.cartTotalContentLeft{
	float: left;

}
.cartTotalContentRight{
	float: right;
}

.cartTotalContentRight.price{
	font-size: 20px;
	color: #f20;
	font-weight: bold;
}
.btnPayment{
	width: 100%;
}
.btnPayment a{
	width: 100%;
	display: block;
	color: #fff;
	text-decoration: none;
	background: #2d317f;
	text-align: center;
	padding: 20px 0;
}


.cartBodyNull{
	background: #fff;
	padding: 50px;

}
.cartAlert{
	text-align: center;
}


.btnBuyMore a{
	width: 300px;
	padding: 20px;
	text-align: center;
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: 500;
	background: #f5b222;
	margin: 50px auto;
}