.courseActive h1{
	text-align: center;
	display: block;
}
.headMain{
	height: 600px;
	overflow: hidden;
	margin-bottom: 30px; 
}
.headMain img{
	width: 100%;

}


.mainItem{
	margin-bottom: 15px;
}
.headMenu {
	transition: top 1s;

}
.headMenu ul{
	padding: 0;
	width: 100%;
	display: flex;
	overflow: hidden;
	margin: 0;
	z-index: -2;
}
.headMenu ul li::after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: -2;
}
.headMenu ul li{
	list-style: none;
	flex: 1;
	padding: auto;
	position: relative;
}
.headMenu ul li a{
	text-decoration: none;
	display: block;
	padding: 20px;
	color: #000;
	text-align: center;
	
	width: 100%;
	z-index: 99;
	cursor: pointer;
}
.headMenu ul li a.active::after{
	content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transform: skewX(-40deg);
    background: #284ea9;
    
    z-index: -1;

}
.headMenu ul li:first-child a.active::before {
	content: "";
    position: absolute;
    width: 20%;
    top: 0;
    left: 0;
    height: 100%;
    
    background: #284ea9;
    
    z-index: -1;
}
.headMenu ul li:last-child a.active::before {
	content: "";
    position: absolute;
    width: 20%;
    top: 0;
    right: 0;
    height: 100%;
    
    background: #284ea9;
    
    z-index: -1;
}
.headMenu ul li a.active{
	color: #fff;
	z-index: 9;
	pointer-events: none;

}
.headMenu ul li::first a.active{
	background: #284ea9;
}

.headMenu .menuRate{
	color: #f5b222;
}


.videoDetail{
	background: #fff;
	padding: 15px 20px;
	position: relative;
}
.videoDetail .videoDetailHead{
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
}

.videoDetail .videoContent{
	padding: 30px;
	overflow: hidden;
	
}
.videoDetail .btnSeeMore{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 20px;
	left: 0;
	color: #284da9;
	cursor: pointer;
}

.videoContent .videoItem{
	padding: 0 10px 0 50px;
    border-radius: 10px;
    height: 70px;
    line-height: 70px;
    position: relative;
    transition: 0.2s;
}
.videoContent .videoItem:hover{
	box-shadow: 2px 5px 20px #333;
	transform: translate(0px -5px);
}
.videoContent .videoItem:hover .videoItemTitle{
	color: #000;
	font-weight: bold;
}
.videoContent .videoItem:last-child{
	border-left: none;
}
.videoContent .videoItem .videoItemTitle{
	color: #999;
	display: inline-block;
}
.videoContent .videoItem .videoItemTime{
	float: right;
	color: #999;
}
.videoContent .videoItem .videoItemBtnPlay{
	
    position: absolute;
    left: 12px;
    top: 0;
    display: inline-block;
}
.videoContent .videoItem .videoItemBtnPlay img{
	width: 20px;
}

.videoDetail .videoBtnSeeMore{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	color: #284da9;
	cursor: pointer;
	background: #fff;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #ccc;
}
.videoDetail .videoBtnSeeMore .videoBtnSeeMoreText{
	width: 80px;
	display: inline-block;
}
.videoDetail .videoBtnSeeMore i{
	
	transform: rotate(180deg);
}


.courseDetail{
	background: #fff;
	padding: 15px 20px;
	position: relative;
}
.courseDetail .courseDetailHead{
	padding-bottom: 15px;
	border-bottom: 1px solid #999;
}

.courseDetail .courseContent{
	padding: 30px;
	overflow: hidden;
	
}
.courseDetail .btnSeeMore{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	color: #284da9;
	cursor: pointer;
	background: #fff;
	height: 40px;
	line-height: 40px;
	border-top: 1px solid #ccc;
}
.courseDetail .btnSeeMore .btnSeeMoreText{
	width: 80px;
	display: inline-block;
}
.courseDetail .btnSeeMore i{
	
	transform: rotate(180deg);
}


.courseComment{
	background: #fff;
	padding: 15px 20px;
}

.courseRate{
	background: #284da9;
	padding: 20px;
}
.courseCircle{
	width: 120px;
	
	margin: auto;
	text-align: center;
}
.rateStar i{
	font-size: 20px;
	cursor: pointer;
	transform: scale(1.1);
	color: #cecece;
}
.rateStar .starActive{
	color: #ffca0a;
}
.courseRateContent input[type=submit]{
	width: 100%;
	background: #fe9d0b;
	color: #fff;
	font-weight: 500;
}

.courseTeacher{
	margin-top: 30px;
	background: #fff;
	padding: 10px;
}
.courseTeacherHead img{
	width: 100px;
	border-radius: 50%;
	float: left;
	margin: 10px;
}
.courseTeacherHead p{
	color: #666;
}
.courseTeacherHead h3{
	color: #fe9d0b;
	font-weight: 500;
	margin: 10px 0 20px;
}
.courseTeacherHead a{
	padding: 10px 30px;
	border:1px solid #ccc;
	color: #666;
	text-decoration: none;
	border-radius: 20px;
	transition: 0.5s;
	display: inline-block;
}
.courseTeacherHead a:hover{
	transform: translate(0px ,-5px);
	box-shadow: 2px 3px 10px #c5c5c5;
    
}
.courseTeacherContent{
	clear: both;
	padding: 10px;
}