
.instruction{
	padding:  0 133px;
	background: #F8F8FB;
	height: 50px;

}
.instruction_body{
	display: flex;
}
a.instruction_item{
	height: 50px;
	line-height: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 12px;
	display: block;
	margin-right: 15px;
	color: #C4C4C4;
	text-decoration: none;
}
.main_body{
	padding-top: 50px;
	overflow: hidden;
	margin-bottom: 100px;
}
.courseTitle{

}
.courseTitle h1{
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #2D317F;
	margin: 0;
	margin-bottom: 20px;
}
.courseTitle .courseTitleContent{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #999;
	margin-bottom: 20px;
}
.courseRate{
	display: flex;
	margin-bottom: 20px;
}
.courseRateStar{
	color: #C4C4C4;
	font-size: 16px;
	line-height: 21px;
	margin-right: 15px;
}
.starActive{
	color: #FCC72E;
}
.courseRate .courseRateContent{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #999;
}
.courseInfo{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #999;
	margin-bottom: 36px;
}
.courseInfo i {
	font-size: 9px;
	margin: 0 10px;
}
.courseBenefit{
	background-color: rgba(45, 49, 127, 0.03);
	padding: 22px;
	margin-bottom: 60px;
}
.courseBenefitTitle{
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #666;
	margin-bottom: 15px;
}
.courseBenefitMainItem{
	display: flex;
}
.courseBenefitMainItemIcon{
	flex-shrink: 0;
	width: 20px;
	color: #FCC72E;
	margin-right: 10px;
	font-size: 18px;
	line-height: 23px;
	height: 50px;
}
.courseBenefitMainItemContent{
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: #999;
}
.lesson{
	margin-bottom: 65px;
}
.lessonTitle{
	display: flex;
	margin-bottom: 30px;
}
.lessonTitle h2{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #666;
	margin: 0;
	flex: 1;

}
.numOfLesson{
	font-weight: 500;
	font-size: 16px;
	line-height: 29px;
	color: #999;
	padding: 0 35px;
}
.timeOfLesson{
	font-weight: 500;
	font-size: 16px;
	line-height: 29px;
	color: #999;
	padding: 0 25px;
}



.lessonMain{

}
.lessonMainPart{
	background: #F8F8FB;
	height: 55px;
	line-height: 55px;
	display: flex;
	padding: 0 25px;
}
.lessonMainPartIcon{
	position: relative;
	width: 25px;
	color: #999;
}
.lessonMainPartIcon i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

}
.lessonMainPartIcon i:first-child{
	transform: translateY(-50%) rotate(90deg);
}
.lessonMainPartTitle{
	font-weight: 500;
	font-size: 16px;
	color: #999;
	flex:1;
}
.lessonMainPartTime{
	font-weight: 500;
	font-size: 16px;
	color: #999;
}
.lessonMainVideo{

}
.lessonMainVideoItem{
	display: flex;
	padding: 0 25px 0 50px;
	border: 1px solid #E5E5E5;
	border-top: 0;
	height: 55px;
	line-height: 55px;
}
.lessonMainVideoIcon{
	width: 25px;
	color: #E5E5E5;
}
.lessonMainVideoTitle{
	font-weight: 500;
	font-size: 14px;
	color: #999;
	flex: 1;
}
.lessonMainVideoTime{
	font-weight: 500;
	font-size: 14px;
	color: #999;
}


.description{
	margin-bottom: 65px;
}
.descriptionTitle{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #666;
	margin-bottom: 30px;
}
.descriptionContent{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #999;
	margin-bottom: 10px;
}
.courseRelate{
	margin-bottom: 90px;
}
.courseRelateTitle{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #666;
	margin-bottom: 30px;
}
.courseRelateMain{

}
.courseRelateItem{
	display: flex;
	margin-bottom: 30px;
}
.courseRelateItemImg{
	width: 30%;
	flex-shrink: 0;
	margin-right: 20px;
	border-radius: 10px;
	overflow: hidden;
}
.courseRelateItemImg:after{
	content: '';
	display: block;
	padding-top: 72%;
}
.courseRelateItemContent{
	width: 100%;
}
.courseRelateItemTitle a{
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #666;
	height: 50px;
	margin-bottom: 20px;
	overflow: hidden;
	text-decoration: none;
}
.courseRelateItemRate{
	display: flex;
	margin-bottom: 10px;

}
.courseRelateItemPrice_Cart{
	display: flex;
}
.courseRelateItemPrice{
	flex: 1;
}
.courseItemOldPrice{
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: #999;
}
.courseItemNewPrice{
	font-weight: bold;
	font-size: 24px;
	line-height: 38px;
	color: #2D317F;
}
a.courseRelateItemCart{
	width: 40px;
	height: 25px;
	background: #FCC72E;
	color: #fff;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	text-decoration: none;
}



.teacher{
	margin-bottom: 108px;
}
.teacherTitle{
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #666;
}
.teacherMain{
	display: flex;
}
.teacherMainLeft{
	width: 175px;
	flex-shrink: 0;
	margin-right: 20px;
}

.teacherMainLeftImg{
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
}
.teacherMainLeftImg:after{
	content: '';
	display: block;
	padding-top: 100%;
}
.teacherMainLeftName{
	background: #FCC72E;
	border-radius: 10px;
	font-weight: bold;
	font-size: 18px;
	line-height: 50px;
	height: 50px;
	color: #fff;
	text-align: center;
}


.teacherMainRight{

}
.teacherMainRightInfo{
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #999;

}
.teacherMainRightInfo i{
	font-size: 9px;
}
.teacherMainRightGroup{
	font-style: italic;
	font-size: 14px;
	line-height: 22px;
	color: #666;
}
.teacherMainRightContent{
	height: 165px;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    margin-bottom: 6px;
}

.rate{

}
.rateTitle{
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #666;
}
.rateChart{
	display: flex;
	margin-bottom: 60px;
}
.rateChartLeft{
	width: 175px;
	margin-right: 20px;
	flex-shrink: 0;
}
.rateChartLeftNum{
	font-weight: 600;
	font-size: 86px;
	line-height: 117x;
	color: #2D317F;
	text-align: center;
}

.rateChartLeftStar{
	display: flex;
}
.rateChartLeftStar i{
	font-size: 24px;
	line-height: 31px;
	flex: 1;
}

.rateChartRight{
 	width: 100%; 
}
.rateChartRightItem{
	margin-bottom: 10px;
	display: flex;
}
.rateChartRightItemLine{
	flex: 1;
	background: #F8F8FB;
	border-radius: 5px;
	height: 20px;
	margin-right: 10px;
	overflow: hidden;
}
.rateChartRightItemNum{
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #999;
	width: 50px;
}

.rateChartRightItemValue{
	display: none;
}
.rateChartRightItemLineActive{
	height: 100%;
	width: 50%;
	background: #EAEAF3;
	transition: 2s;
}
.rateMain{

}
.rateMainItem{
	display: flex;
	padding: 35px 0 30px;
	border-top: 1px solid #C4C4C4;
}
.rateMainItemAva{
	width: 180px;
	margin-right: 15px;
	padding: 0 10px;
	flex-shrink: 0;
}
.rateMainItemAvaImg{
	width: 100%;
	border-radius: 50%;
	margin-bottom: 20px;
}
.rateMainItemAvaImg:after{
	content: '';
	display: block;
	padding-top: 100%;
}

.rateMainItemAvaName{
	font-weight: 600;
	font-size: 16px;
	line-height: 25px;
	color: #2D317F;
	text-align: center;
}
.rateMainItemAvaTime{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #999;
	text-align: center;
}
.rateMainItemContent{
	flex: 1;
}
.rateMainItemContentTitle{
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
	color: #2D317F;
}
.rateMainItemContentStar{
	margin-bottom: 30px;
	display: flex;
	width: 100%;
	font-size: 16px;
}
.rateMainItemContentStar i{
	flex: 1;
}
.rateMainItemContentStarContent{
	display: flex;
	width: 115px;
	font-size: 16px;
}
.rateMainItemContentStarContent.last{
	cursor: pointer;
}
/*.rateMainItemContentStarContent.last i:hover{
	color: #FCC72E;

}*/
.rateMainItemContentStarText{
	flex: 1;
}


.rateMainItemContentBody{
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	text-align: justify;
}
.rateMainItemContentBody textarea{
	width: 100%;
	border-radius: 10px;
	outline: none;
	padding: 5px 10px;
}
.rateMainItemContentBtn{
	height: 50px;
	line-height: 50px;
	padding:  0 20px ;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	width: 175px;
	background: #FCC72E;
	border-radius: 10px;
	cursor: pointer;
}
.rateMainItemContentBtn:hover{
	background: #FCB72E;
}




.courseTag{
	border-radius: 10px;
	overflow: hidden;
}
.courseTagImg{
	position: relative;
}
.courseTagImg:after{
	content: '';
	display: block;
	padding-top: 72%;
}



.courseMainItemGroup_Time{
	font-weight: bold;
    font-size: 24px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 126px;
    width: 100%;
    background: linear-gradient(#fff0, #000d);
    padding: 45px 25px 25px;
}
.courseMainItemGroup{
	white-space: nowrap;
	margin-bottom: 6px;
}
.courseMainItemTime{
	font-size: 14px;
	font-weight: 400;

}


.courseTagSale{

}
.courseTagSale{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 0;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
}
.courseTagSale:after{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
	border-bottom: 31px solid #FCC72E;
	border-right: 20px solid #fff0;
	z-index: -1;
}

.courseTagPrice{
	
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 96px;
    width: 100%;
    background: linear-gradient(#fff0, #000d);
    padding: 45px 25px 25px;
}
.courseTagOldPrice{
	font-size: 14px;
	font-weight: 500;
	margin-right: 10px;

}
.courseTagContent{
	padding: 20px;
	border-radius: 0 0 10px 10px;
	border: 1px solid #C4C4C4;
	border-top: 0;
}
.courseTagContentCode{
	height: 40px;
	width: 100%;
	display: flex;
	margin-bottom: 20px;
}
.courseTagContentCode input{
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	background: #fff;
	border: 1px solid #C4C4C4;
	font-size: 14px;
	color: #999999;
	border-radius: 10px;
	outline: none;
	font-weight: bold;

}

.courseTagContentCode input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999999;
}

.courseTagContentCode input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
}

.courseTagContentCode input::-ms-input-placeholder { /* Microsoft Edge */
    color: #999999;
}
.courseTagContentCode button{
	height: 40px;
	line-height: 40px;
	/*padding: 0 15px;*/
	background: #FCC72E;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 10px;
	border: 0;
	margin-left: 5px;
	outline: none;
}

.courseTagContentMain{
	padding: 0 5px;
	margin-bottom: 30px;
}
.courseTagContentMainItem{
	display: flex;
	margin-bottom: 10px;
}
.courseTagContentMainItemIcon{
	width: 15px;
	margin-right: 10px;
	flex-shrink: 0;
	color: #999999;
}
.courseTagContentMainItemBody{
	color: #999999;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
}
.courseTagContentAddCart{
	height: 60px;
	width: 100%;
	
	overflow: hidden;
	margin-bottom: 15px;
}
.courseTagContentAddCart a{
	display: block;
	height: 100%;
	line-height: 60px;
	color: #fff;
	background: #FCC72E;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	text-decoration: none;
}
.courseTagContentBuy{
	height: 60px;
	width: 100%;
	
	overflow: hidden;
	margin-bottom: 15px;
}
.courseTagContentBuy a{
	display: block;
	height: 100%;
	line-height: 60px;
	color: #999;
	background: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #666666;
	border-radius: 10px;
	text-decoration: none;
}

/*course active*/
.courseTagDoc{
	padding: 35px 22px;
	border-radius: 10px;
	border: 1px solid #C4C4C4;
}
.courseTagDocTitle{
	font-size: 24px;
	font-weight: bold;
	color: #2D317F;
	margin: 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #C4C4C4;
	margin-bottom: 30px;
}
.courseTagDocBody{

}
.courseTagDocBodyItem{
	display: flex;
	margin-bottom: 30px;
}
.courseTagDocBodyItemIcon{
	margin-right: 20px;
	flex-shrink: 0;
	color: #FCC72E;
	font-size: 18px;

}
a.courseTagDocBodyItemContent{
	font-size: 14px;
	font-weight: 500;
	color: #999;
	text-decoration: none;
}
.courseHead{
	margin-bottom: 145px;
}
.courseHeadVideo{
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 96px;
}


.video-js:after {
    content: '';
    display: block;
    padding-top: 56%;
}
.video-js {
    width: 100%;
    height: auto;
}
